body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden; /* Prevent vertical and horizontal scrolling */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent vertical and horizontal scrolling */
  box-sizing: border-box;
  height: 100%;
  overflow: hidden; /* Prevent scrolling */
}

#root {
  height: 100%; /* Ensure the root element takes the full height */
}